.vscode/*
!.vscode/commandbar.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
*.sav
*.pak
*.hxml
bin/*
!bin/js
bin/js/*.js
promo/*
res/.tmp
res/LevelProject/backups/*
res/music/export*
res/music/unused
res/bitwigProjects/*/auto-backups/
saves/*
src/integration
src/integration/Secret.hx
tools/profiler.hl
tools/hlprofile.dump
tools/profile.json
token.txt